:root {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

.graytext{
    color: var(--gray);
}
.grayish-violet{
    color: var( --grayish-violet);
}


.graytext:hover{
    color: black;
}
.BgCyanColor{
    background-color: var(--cyan);
}

.darkblueTextColr{
    color: var(  --very-dark-blue);
}

.darkVoilet{
    color: var( --dark-violet);
}