:root {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

.graytext{
    color: var(--gray);
}
.grayish-violet{
    color: var( --grayish-violet);
}


.graytext:hover{
    color: black;
}
.BgCyanColor{
    background-color: var(--cyan);
}

.darkblueTextColr{
    color: var(  --very-dark-blue);
}

.darkVoilet{
    color: var( --dark-violet);
}

.darkVoiletBg{
    background-color: var(--dark-violet);
}


.svg-background-div {
    width: 100%;
    background-image: url('/images/bg-shorten-desktop.svg'); /* Reference your SVG file */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Scales the image to cover the entire div area */
    background-position: center; /* Centers the background image */
}


.svg-background-mobile{
      width: 100%;
    background-image: url('/images/bg-shorten-mobile.svg'); /* Reference your SVG file */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Scales the image to cover the entire div area */
    background-position: center; /* Centers the background image */
}

.bg-boost-desktop{
    width: 100%;
    background-image: url('/images/bg-boost-desktop.svg'); /* Reference your SVG file */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Scales the image to cover the entire div area */
    background-position: center; /* Centers the background image */
   
}

 .bgvery-dark-violet{
    background-color: var( --very-dark-violet);

 }


 .graytextFooter{
    color: var(--gray);
}

.graytextFooter:hover{
    color: var(--cyan);
}